@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 4%;
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  -webkit-tap-highlight-color: transparent;
}
